@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;300;400;500;600;700&display=swap");
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
:root {
  --primary: #94e7ba;
  --dark: #318155;
  --med: #7bcca1;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
}
main {
  position: absolute;
}
.title {
}
.App {
}
.gradient {
  z-index: -1;
  height: 100vh;
  width: 100%;
  position: absolute;
  background: linear-gradient(rgba(18, 138, 74, 0.5), rgba(0, 173, 26, 0.5));
}
.background {
  z-index: -2;
  background: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  filter: grayscale(30%);
}
nav {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  flex: 1;
  padding: 1.5% 10vw;
  text-align: right;
}

.nav-bar ul li {
  padding: 1% 1.5%;
  display: inline-block;
}

.nav-bar ul li a {
  text-decoration: none;
  font-size: 22px;
  color: #f2f2f2;
  font-weight: 400;
}

.header2 {
  min-height: 100vh;
  width: 100%;
  background-color: var(--primary);
}
.header1 {
  min-height: 100vh;
  width: 100%;
}
.purpose {
  min-height: 100vh;
  width: 100%;
  background-color: var(--primary);
}
.bigTitle {
  position: absolute;
  left: 10vw;
  top: 62vh;
}
.title1 {
  font-size: 82px;
  color: #f2f2f2;
  font-weight: 700;
}
.toApplication {
  font-size: 24px;
  margin-top: 0.5rem;
}
.fullCamera {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 30px;
}
.titleCamera {
  font-size: 2rem;
  margin: 1rem 0;
  color: var(--dark);
  font-weight: 500;
}

/* ADDED BY RACHEL */

button {
  border: 0;
  border-radius: 4px;
  padding: 12px 24px;
  display: inline-block;
  margin-right: 24px;
  background-color: var(--dark);
  color: #fff;
}
button:hover {
  opacity: 0.5;
  cursor: pointer;
}
.button-container {
  width: 500px;
  padding: 20px;
  display: flex;
  padding: 24px 48px;
  margin-top: 400px;
  justify-content: center;
}
.description {
  width: 550px;
  padding: 20px;
  background: #f2f2f2;
  border-radius: 4px;
  margin-bottom: 12px;
  text-align: center;
}
p {
  font-size: 14px;
}
.headerPictures {
  position: absolute;
  display: flex;
}
.recycling {
  position: absolute;
  bottom: 0;
  height: 400px;
  width: auto;
  left: -5vw;
}
.forest {
  align-self: flex-end;
  height: 400px;
  width: auto;
  position: absolute;
  bottom: 0;
  right: 1vw;
}
.split {
  height: 100vh;
  width: 50vw;
}
